img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  .product-page {
    display: flex;
  }
  
  .img-display {
    flex-grow: 1;
    max-width: 372px;
  }
  
  .thumb {
    opacity: .7;
    margin: 0 .25rem .25rem 0;
    width: 120px;
    transition: opacity .25s ease-out;
  }
  
  .thumb:hover,
  .thumb.active {
    opacity: 1;
  }
  
  .zoom {
    display: inline-block;
  }